<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark indigo">
    <mdb-navbar-brand>
        <img src="assets\Images\logo_header.png" class="navbar-brand img-fluid hoverable" alt="">
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" routerLink="/posts" routerLinkActive="active" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </links>
</mdb-navbar>